<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="WorkBench" connectionString="SERVER=localhost; DATABASE=mathxi_air_atlantique; PORT=3306; UID=root; PASSWORD="/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>